.task {
  height: 65px;
  grid-template-columns: 45px 2fr 1fr 1fr 1fr 3vw repeat(2, 4vw) 1vw;
  background: var(--color-task-back-lightMode);
  color: var(--color-task-text-lightMode);
  border-radius: 10px;
  border: 1px solid var(--color-task-border-lightMode);
  border-bottom: 1px solid black;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
  display: grid;
  align-items: center;
  padding-left: 5px;
  margin-bottom: 8px;
}

.task_darkMode {
  background: var(--color-task-back-darkMode);
  color: var(--color-task-text-darkMode);
  border: 1px solid var(--color-task-border-darkMode);
}

.task:hover {
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.6);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  opacity: 0.6;
  cursor: pointer;
}

.Status_Done {
  width: 120px;
  padding: 3px 0;
  border-radius: 7px;
  background: rgb(2, 165, 2);
  text-align: center;
  display: block;
  color: white;
  font-weight: 700;
}
.Status_InProgress {
  width: 120px;
  padding: 3px 0;
  border-radius: 7px;
  background: rgb(3, 211, 248);
  text-align: center;
  display: block;
  color: black;
  font-weight: 700;
}
.Status_NotStarted {
  width: 120px;
  padding: 3px 0;
  border-radius: 7px;
  background: rgb(251, 255, 6);
  text-align: center;
  display: block;
  color: black;
  font-weight: 700;
}
.Status_Canceled {
  width: 120px;
  padding: 3px 0;
  border-radius: 7px;
  background: rgb(204, 3, 3);
  text-align: center;
  display: block;
  color: white;
  font-weight: 700;
}

@media screen and (max-width: 800px) {
  .task {
    height: 85px;
    grid-template-columns: 45px 2fr 1fr 3vw;
    grid-template-rows: 5% 45% 45% 5%;
  }

  .icon {
    font-size: 24px;
  }

  .icon_mobileScreen {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Status_Done,
  .Status_InProgress,
  .Status_Canceled,
  .Status_NotStarted {
    width: 110px;
    padding: 2px 0;
    font-weight: 700;
    font-size: 15px;
  }
}
