.stat {
  margin-top: 15px;
  width: 300px;
  height: 40px;
  background: rgb(255 255 255 / 15%);
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  font-weight: 700;
  display: flex;
  align-items: center;
}

.text {
  position: absolute;
  text-align: center;
  width: 300px;
}

.Ratio-task {
  height: 40px;
  background: rgb(255, 230, 0);
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .stat {
    margin-top: 15px;
    width: 250px;
    height: 35px;
    font-size: 16px;
  }
  .Ratio-task {
    height: 35px;
  }
}
